body {
    position: relative;
    text-align:center;
}

div {
    width: 100%;
    font-size: 100px;
}

 #timestamp {
    font-size: 40px;
}

button {
  width:140px;
  height: 35px;
  margin-top: 20px;
}
